/* Estilos para el Encabezado */
.Encabezado {
  background-color: #fff; /* Fondo del encabezado */
  padding: 20px; /* Espaciado interno */
  box-shadow: 0px 10px 10px #b1b1b1; /* Sombra del encabezado */
  width: 100%; /* Asegurar que cubra todo el ancho */
  margin: -20px;
  font-family: 'Inter', sans-serif;
  position: relative;
  height: 90px;
}

/* Estilos para la navegación */
.Header {
  display: flex; /* Usar flexbox para alinear los elementos */
  justify-content: flex-start; /* Alinear a la izquierda */
  align-items: center; /* Centrar verticalmente */
}

/* Estilos para la lista de navegación */
.navegador {
  list-style-type: none; /* Quitar las viñetas de la lista */
  padding: 0; /* Sin padding */
  margin: 0; /* Sin margen */
  display: flex; /* Mostrar los elementos en una fila */
  width: 100%;
}

/* Estilos para los elementos de la lista */
.elemento {
  font-size: 18px; /* Tamaño de fuente */
  margin: 0 20px; /* Espaciado entre los elementos */
  width: 150px; /* Ancho fijo */
  color: #000000; /* Color del texto */
  text-decoration: none; /* Sin subrayado en el texto */
  transition: color 0.3s; /* Transición suave para el color */
  cursor: pointer; /* Cambiar el cursor al pasar el mouse */
  display: flex; /* Usar flexbox en los elementos */
  align-items: center; /* Centrar verticalmente el texto */
  justify-content: center; /* Centrar horizontalmente el texto */
}

/* Estilo para el elemento seleccionado */
.elementoSel {
  text-decoration: none;
  font-size: 18px; /* Tamaño de fuente */
  margin: 0 20px; /* Espaciado entre los elementos */
  width: 150px; /* Ancho fijo */
  color: #4D8D31; /* Cambiar el color del texto seleccionado */
  display: flex; /* Usar flexbox en los elementos */
  align-items: center; /* Centrar verticalmente el texto */
  justify-content: center; /* Centrar horizontalmente el texto */
}

/* Efecto de hover para los elementos */
.elemento:hover {
  color: #4D8D31; /* Cambiar color al pasar el mouse */
}

/* Estilo para los enlaces dentro de los elementos */
.elemento a {
  color: inherit; /* Heredar el color del elemento */
  text-decoration: none; /* Sin subrayado en el texto */
}

/* Efecto de hover para los enlaces */
.elemento a:hover {
  text-decoration: none; /* Sin subrayado al pasar el mouse */
}
